@{
    ViewData["Title"] = "Stylists";
}

<h2>Info about @Model.Name</h2>

<div class="chosenStylistsGrid">
    <div>Name: @Model.Name</div>
    <div>Details: @Model.Details</div>
    <div>Clients: 
        @foreach (var client in Model.GetClients())
        {
            <div>client.Name</div>

        }
    </div>
</div>







<a href="/stylists"><button>Back</button></a>