@{
    ViewData["Title"] = "Stylists";
}

<h2>Info about @Model.Name</h2>

<div class="chosenStylistsGrid">
    <div>@Model.Name</div>
    <div>@Model.Details</div>
</div>







<a href="/stylists"><button>Back</button></a>