@{
    ViewData["Title"] = "Stylists";
}

<h2>All of our stylists!</h2>

<a href="/stylists/add"><button>Add a stylist</button></a>


<div class="stylistsGrid">


    @foreach (var stylist in Model)
    {
        <div>
            <a href="/stylists/@stylist.Id">@stylist.Name</a>
            <a href="/stylists/@stylist.Id/delete"><button>Delete</button></a>
        </div>
    }
</div>







<a href="/"><button>Home</button></a>