@{
    ViewData["Title"] = "Specialties";
}

<h2>Specialty: @Model.Name</h2>

<div class="chosenSpecialtiesGrid">
    <div>@Model.Name</div>
    <div>Stylists who have this speciality: 
        @foreach (var stylist in Model.GetStylists())
        {
            <div>@stylist.Name</div>
        }
    </div>
</div>

<a href="/stylists/index"><button>View all stylists</button></a>
<a href="/specialties"><button>Back</button></a>