@{
    ViewData["Title"] = "Hair Salon";
}

<h1>Welcome to our Hair Salon!</h1>

<a href="/stylists"><button>Stylists</button></a>
<a href="/clients"><button>Clients</button></a>
<a href="/specialties"><button>Specialties</button></a>
