@{
    ViewData["Title"] = "Client";
}

<h2>Specialty: @Model.Name</h2>

<div class="chosenClientsGrid">
    <div>@Model.Name</div>
    <div>Stylist:  
        @foreach (var stylist in Model.GetStylists())
        {
            <div>@stylist.Name</div>
        }
    </div>
</div>






<a href="/stylists"><button>View all stylists</button></a>
<a href="/specialties"><button>Back</button></a>