@{
    ViewData["Title"] = "Client";
}

<h2>Specialty: @Model.Name</h2>

<div class="chosenClientsGrid">
    <div>@Model.Name</div>
    <div>Stylist:  
        @foreach (var stylist in Model.GetStylists())
        {
            <div>@stylist.Name</div>
        }
    </div>
    <a href="/clients/@Model.Id/edit"><button>Edit @Model.Name</button></a>
</div>

<a href="/clients/all"><button>Back</button></a>