@{
    ViewData["Title"] = "Add a client";
}

<h2>Add a client</h2>

@if (Model.Count == 0)
{
    <p>You have to enter a stylist first!</p>
}
else
{
    <form action="/clients" method="post">
        <label for="name">Name</label>
        <input type="text" name="name"/>
        <label for="stylist">Stylist</label>
        <select name="stylistId">
            @foreach(var stylist in Model)
            {
                <option value="@stylist.Id">@stylist.Name</option>
            }
        </select>
        <button type="submit">Submit</button>
    </form>
}

<a href="/clients/all"><button>View all clients</button></a>

<a href="/"><button>Back</button></a>

